header {
    background-image: url("../images/scrapyard_banner.jpg");
    background-size: 100%;
    object-fit: cover;
}

.nav-item {
    transition: 175ms;
    border: 3px solid white;
}

.nav-item:hover {
    border: 3px solid black;
}