{% block nav %}
    <nav class="navbar navbar-expand-lg bg-body sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item rounded px-2 mx-1">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item rounded px-2 mx-1">
                        <a class="nav-link active" href="{{ path('car_all_details') }}">Details</a>
                    </li>
                    <li class="nav-item rounded px-2 mx-1">
                        <a class="nav-link btn btn-warning" href="{{ path('app_home') }}">Uitloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}